{
  "asset_dir": "/Users/richardalbertleddy/Documents/GitHub/compare-c-trans/test-data/assets/",
  "entries_dir": "/Users/richardalbertleddy/Documents/GitHub/compare-c-trans/test-data/entries/",
  "crypto": {
    "key": "7x!A%D*G-13NdRgUkXp2s5v8y/B?E(H+",
    "algorithm": "aes-256-cbc",
    "iv": "TiccVNDCXNU3aSPPObz3Kg=="
  }
}